body {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#container {
    clear: both;
    margin-top: 2px;
}

#status, #label, #playing-label, #playing {
    display: inline-block;
}

#status {
    padding: 1px 3px 0px 3px;
    border-radius: 3px;
}
